extends ./layout/index 

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="img-nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis rutrum tortor, quis viverra libero consequat ac. Aliquam ac laoreet mi, nec finibus nisl. Aliquam vitae placerat nibh. Nulla turpis elit, tempor eget ipsum vitae, venenatis finibus metus. Nullam sed lectus enim. Nunc feugiat ultrices neque ut tempus. Fusce ut mi finibus, dapibus ex at, molestie neque.

                p Morbi sapien massa, imperdiet ac semper vel, ullamcorper id sem. In est metus, egestas vel ipsum vitae, sodales tincidunt quam. Maecenas quis lectus magna. Praesent sed lectus tortor.

                p Proin porta nulla id vehicula porttitor. Mauris ante velit, consequat vel dapibus quis, fringilla nec augue. Nam malesuada sapien erat, sit amet porta massa congue sit amet. Morbi suscipit lacinia ullamcorper. In quis accumsan velit. Curabitur tristique maximus sem, quis viverra arcu viverra a.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam malesuada sapien erat, sit amet porta massa congue sit amet. Morbi suscipit lacinia ullamcorper. In quis accumsan velit. Curabitur tristique maximus sem, quis viverra arcu viverra a.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam malesuada sapien erat, sit amet porta massa congue sit amet. Morbi suscipit lacinia ullamcorper. In quis accumsan velit. Curabitur tristique maximus sem, quis viverra arcu viverra a.
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam malesuada sapien erat, sit amet porta massa congue sit amet. Morbi suscipit lacinia ullamcorper. In quis accumsan velit. Curabitur tristique maximus sem, quis viverra arcu viverra a.

